@media screen and (max-width: 1279px) {
    .mine-game-container {
        transform: scale(0.8);
    }

    body {
        background-size: cover;
    }
}

@media screen and (max-width: 1259px) {
    .animation-container {
        background-size: 1260px;;
    }
}

@media screen and (max-width: 1030px) {
    .mine-game-container {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-size: 105%;
        background-position-y: 129%;
    }

    .content {
       
        width: 793px;
        margin: 43px auto 0 auto;
        padding-top: 0;
    }
    .mine-game-container {
        transform: none;
        width: 100%;
    }

    .decoration-container, .mine-button-bar, .bet-bar {
        padding: 0;
    }

    .decoration-container {
        position: absolute;
        top: 914px;
        left: 0.6%;
        z-index: 8;
    }
    
    .game-header {
        display: none;
    }

    .game-body {
        display: block;
        padding: 0;
    }

    .mine-button-bar {
        width: 744px;
        margin: 0 auto;
        padding-top: 16px;
    }

    .mine-button-container {
        width: 96%;
        margin: 0 auto;
    }

    .mine-button {
        width: 136px;
        height: 136px;
    }

    .to-set-mine-image {
        background-size: 160px;
        background-position: -10px -3px !important;
    }

    .bet-bar {
        width: 744px;
        position: absolute;
        z-index: 9;

        left: 50%;
        -webkit-transform: (-53%, 63%);
        -ms-transform: translate(-53%, 63%);
        -o-transform: translate(-53%, 63%);
        transform: translate(-53%, 63%);
    }

    .level-button-container {
        flex-grow: 13;
    }

    .list-of-level-container {
        flex-grow: 1;
    }


    .drop-down-level-button-list {
        margin-bottom: 12px;
        background-color: #101c2e;
    }

    .drop-down-level-butto-body {
        width: 100%;
        top: -228px;
        left: 0;
        z-index: 1;
    }

    .arrow-decoration-icon-container {
        left: 46%;
        top: 95%;
        transform: rotate(180deg);
    }

    .level-result-explanation-container, .level-result-mines-container {
        flex-basis: 50%;
    }

    .level-result-explanation, .level-result-mines  {
        width: 100%;
    }

    .bet-button-container > button{
        margin-top: 16px !important;
    }

    .animation-container {
        top: 873px;
    }

    .level-button, .level-result-explanation, .level-result-mines, .stake, .bet-button-container > button {
        flex-basis: 25%;
        height: 64px;
    }

    .level-result-explanation, .level-result-mines {
        background-position-x: 316px;
        background-position-y: center;
    }

    .rules {
        width: 500px;
        height: 80%;

        overflow: auto;
    }
}

/*
@media screen and (max-width: 888px) {
    .mine-game-container {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 752px) {
    .mine-game-container {
        transform: scale(0.5);
    }
}*/

