@media screen and (max-width: 860px) {
    body {
        background-position-y: 129%;
    }

    .content {
       
        width: 613px;
        margin: 43px auto 0 auto;
        padding-top: 0;
    }

    .mine-button-bar {
        width: 100%;
    }

    .mine-button-container {
        width: 532px;
        margin: 0 auto;
    }

    .mine-button {
        width: 100px;
        height: 100px;
    }

    .to-set-mine-image {
        background-position: -29px -20px !important;
    }

    .bet-bar {
        width: 564px;
    }

    .level-button, .level-result-explanation, .level-result-mines, .stake, .bet-button-container > button {
        flex-basis: 23.7%;
        height: 64px;
    }

    .animation-container {
        top: 688px;
        background-size: 860px;
        background-position-y: 56px;
    }

    .Cart-formines-container {
        transform: scale(0.5);
        top: -15%;
    }

    .decoration-container {
        top: 674px;
    }

    .bet-bar {
        top: 636px;
    }

}

@media screen and (max-width: 744px) {
    /*body {
        background-position-y: 119%;
    }*/
}